@font-face {
    font-family: Noto_Sans;
    src: url(/fonts/Noto_Sans/NotoSans-VariableFont_wdth\,wght.ttf);
  }

* {
    font-family: Noto_Sans;
}

#firstTranche17PageMenu {
    display: grid;
    justify-content: center;
    margin-top: 20vh;
}

.container {
    height: 26px;
    width: 130px;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    margin-left: 50%;
    transform: translateX(-50%);
}
  
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
  
.container:hover input ~ .checkmark {
    background-color: #ccc;
}
  
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.container input:checked ~ .checkmark:after {
    display: block;
}
  
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#startBtn {
    height: 6vh;
    width: 40vw;
    font-size: 1.25rem;
    background: #e3cc21;
    box-shadow: 0 10px 0 0 #ab9916;
    color: black;
    border: 0 solid black;
    border-radius: 2vh;
    margin-top: 35vh;
    cursor: pointer;
    transition: 0.2s;
}

#startBtn:hover {
    background: rgb(246, 220, 26);
}


main {
    justify-content: center;
    user-select: none;
}

h3 {
    margin-top: 9vh;
    text-align: center;
    font-size: 1.75rem;
}

p {
    font-size: 1.25rem;
}

#fromGermanToFrench {
    text-align: center;
}

#wordQuestions {
    width: 27.5vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    border: 3px solid #d2d2d2;
    border-radius: 2vh;
    padding: 7px 10px;
    background: white;
}

#questions {
    display: grid;
    resize: none;
    height: 20vh;
    width: 30vw;
    margin-top: 11.5vh;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding-top: 3px;
    padding-left: 3vw;
    padding-right: 3vw;
    border: 3px solid #d2d2d2;
    box-shadow: 0 5px 0 0 #d2d2d2;
    border-radius: 5vh;
    outline: none;
    font-size: 1.25rem;
    background: white;
}

#separation {
    width: 100vw;
    border-top: 2px solid #d2d2d2;
    margin-top: 17.5vh;
}

#submitBtn {
    margin-top: 7.5vh;
    justify-content: center;
    margin-left: 50%;
    transform: translateX(-50%);
    height: 5vh;
    width: 175px;
    border: 0 solid black;
    border-radius: 1vh;
    box-shadow: 0 5px 0 0 #279216;
    font-size: 1rem;
    background: rgb(63, 197, 26);
    color:rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.1s;
}

#submitBtn:hover {
    background: rgb(70, 213, 30);
}

#continueGoodAnswer {
    font-size: 20px;
    margin-top: 40vh;
    margin-left: auto;
    margin-right: auto;
    height: 12.5vh;
    width: 400px;
    background: rgb(63, 197, 26);
    box-shadow: 0 10px 0 0 #279216;
    color: rgb(255, 255, 255);
    border: 0 solid black;
    border-radius: 5vh;
    cursor: pointer;
    transition: 0.15s;
}

#continueGoodAnswer:hover {
    background: rgb(70, 213, 30);
}

#correctAnswer {
    display: grid;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 1.5vh 1.5vw;
    margin-top: 25vh;
    border: 0 solid black;
    border-radius: 3vh;
    font-size: 1.25rem;
    background: #ff7777;
}

#continueBadAnswer {
    font-size: 20px;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    height: 12.5vh;
    width: 400px;
    background: #ce1010;
    box-shadow: 0 10px 0 0 #800b0b;
    color: rgb(255, 255, 255);
    border: 0 solid black;
    border-radius: 5vh;
    cursor: pointer;
    transition: 0.15s;
}

#continueBadAnswer:hover {
    background: #e81111;
}

#results {
    justify-content: center;
}

#resultsTitle {
    height: 7.5vh;
    width: 15vw;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1vw;
    padding-right: 1vw;
    border: 0 solid black;
    border-radius: 3vh;
    display: grid;
    justify-content: center;
    background: #2ea0e2;
    color: white;
    font-size: 1.25rem;
    align-items: center;
}

#scoreGoodAnswers {
    height: 7.5vh;
    width: 15vw;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1vw;
    padding-right: 1vw;
    border: 0 solid black;
    border-radius: 3vh;
    display: grid;
    justify-content: center;
    background: #198e20;
    color: white;
    font-size: 1.25rem;
    align-items: center;
}

#scoreBadAnswers {
    height: 7.5vh;
    width: 15vw;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1vw;
    padding-right: 1vw;
    border: 0 solid black;
    border-radius: 3vh;
    display: grid;
    justify-content: center;
    background: #ee3232;
    color: white;
    font-size: 1.25rem;
    align-items: center;
}

#finalBtn {
    height: 7.5vh;
    width: 25vw;
    margin-top: 20vh;
    padding-left: 1vw;
    padding-right: 1vw;
    border: 0 solid black;
    border-radius: 3vh;
    display: grid;
    justify-content: center;
    background: #e3cc21;
    box-shadow: 0 10px 0 0 #ab9916;
    color: black;
    font-size: 1.5rem;
    align-items: center;
    transition: 0.2s;
    cursor: pointer;
}

#finalBtn:hover {
    background: rgb(246, 220, 26);
}

#hrefBtn {
    text-decoration: none;
}


@media screen and (max-width: 1700px) {
    #resultsTitle,
    #scoreGoodAnswers,
    #scoreBadAnswers {
        font-size: 1rem;
    }
}

@media screen and (max-width: 1300px) {
    #resultsTitle,
    #scoreGoodAnswers,
    #scoreBadAnswers {
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 400px) {
    .container {
        margin-top: 10vh;
    }
    #startBtn {
        margin-top: 30vh;
        width: 300px;
        font-size: 1.2rem;
    }
    h3 {
    margin-top: 5vh;
    text-align: center;
    font-size: 1.2rem;
    }
    #wordQuestions {
        width: 285px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        padding: 7px 12.5px;
        font-size: 1rem;
    }
    #questions {
        height: 20vh;
        width: 250px;
        margin-top: 14vh;
        padding-top: 7px;
        padding-left: 25px;
        padding-right: 25px;
        font-size: 1rem;
    }
    #separation {
        border-top: 2px solid #d2d2d2;
        margin-top: 20vh;
    }
    #submitBtn {
        margin-top: 4.2vh;
    }
    #correctAnswer {
        width: 280px;
        padding: 1.5vh 1vw;
        margin-top: 25vh;
        font-size: 1rem;
    }
    #continueBadAnswer {
        font-size: 1rem;
        margin-top: 15vh;
        height: 10vh;
        width: 290px;
    }
    #continueGoodAnswer {
        margin-top: 50vh;
        font-size: 1rem;
        height: 10vh;
        width: 290px;
    }
    #resultsTitle {
        width: 210px;
        padding-left: 1vw;
        padding-right: 1vw;
        justify-content: center;
        font-size: 1rem;
    }
    #scoreGoodAnswers {
        width: 210px;
        padding-left: 1vw;
        padding-right: 1vw;
        justify-content: center;
        font-size: 1rem;
    }
    #scoreBadAnswers {
        width: 210px;
        padding-left: 1vw;
        padding-right: 1vw;
        justify-content: center;
        font-size: 1rem;
    }
    #finalBtn {
        width: 300px;
        padding-left: 1vw;
        padding-right: 1vw;
        justify-content: center;
        background: #e3cc21;
        font-size: 1.25rem;
        align-items: center;
        transition: 0.2s;
        cursor: pointer;
    }
}