@font-face {
    font-family: Noto_Sans;
    src: url(/fonts/Noto_Sans/NotoSans-VariableFont_wdth\,wght.ttf);
  }

* {
    font-family: Noto_Sans;
}

main {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40vh;
}

#germanTrancheChoice {
    display: block;
    justify-content: center;
}

button {
    margin: 4vh 4vh;
    width: 175px;
    height: 50px;
}